---
---

// Color variables:
$white: white;

// Mixins:
@mixin background-img($url, $height) {
  background: url($url);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: $height;
}

@mixin book-a-reading-button() {
  margin: auto;
  display: block;
  height: 52px;
  width: 220px;
  margin-top: 45px;
  background-color: $white;
  cursor: pointer;
  color: white;
  border: solid 1px;
}

 * {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
 }
 
 .title,h1,.header-p {
  color: $white;
  text-align: center;
  padding: 15px;
}

.footer-heading, .footer-p, .submit-subscription-button {
  color: white;
}

.footer-heading {
  text-transform: uppercase;
  margin-left: 13px;
}

header {
 @include background-img('../images/astrology-header.jpg',777px );
 display:inline-block;
}

.subscribe-input {
  height: 30px;
  width: 250px;
}

h2 {
  color: white;
  text-transform: uppercase;
}

.submit-subscription-button {
  height: 33px;
  width: 160px;
  background-color: #660D77;
  text-transform: uppercase;
}

.left-widget {
  line-height: 50px;
  padding: 40px;
}

button {
 @include book-a-reading-button();
 background-color: Transparent;
}

.header-nav{
  text-align: center;
  margin-top: 200px;
}


 a {
  color: $white;
  text-decoration: none;
  margin: 15px;
}

.footer-nav > a {
  display: block;
}

.rss-subscribe {
  display: none;
}


footer {
  @include background-img('../images/footer-img.jpeg',721px);
  display:inline-block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.second-widget {
  height: 100px;
}

.first-widget {
  height: 100px;
  line-height: 35px;
  padding: 5px;
}

 .wrapper {
  margin-top: 200px;
  margin-left: 200px;
}

.copyright {
 text-align: center;
 color: white;
 margin-top: 150px;
}