body {
  background-image: url('/images/game-menu-background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  position: relative;
}

img {
  height: 90px;
}

.guess-the-animal-game-img {
  height: 100px;
  margin-left: 50px;
  margin-top: 20px;
}

.help {
  border: solid 1px black;
  height: 55px;
  width: 55px;
  float: right;
  margin-right: 20px;
  background-color: #F0B442;
}

.help:hover {
  cursor: pointer;
}

.question-mark {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin-top: 3px;
}

.guess-the-animal-game-icon {
  border: solid 2px black;
  width: 250px;
  height: 250px;
  margin-top: 60px;
  background-color: white;
}

.spelling-game-icon:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,h2 {
  text-align: center;
}

h1 {
  color: black;
}

.tooltip {
  border: 1px solid;
  display: none;
  font-size: 20px;
  color: black;
  padding: 3px;
  height: 120px;
  width: 320px;
  background-color: #D2EBEF;
  margin-left: 250px;
  margin-top: 69px;
}

.guess-the-animal-game-icon:hover .tooltip {
  display: block;
}