body {
  height: 100%;
  width: 100%;
}

.nav {
   background-color: #4867AA;
   width: 100%;
   height: 87px;
}

img {
  height: 70px;
  margin-left: 450px;
  margin-top: 17px;
}

.create-new-account-btn {
  color: white;
  background-color: #42B72A;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 12px;
  height: 33px;
  margin-top: 26px;
  border-radius: 5%;
  margin-left: -9px;
}

.container {
  height: 545px;
  background-color: #E9EBEE;
  width: 100%;
}

.form {
  height: 377px;
  width: 612px;
  margin: 0 auto;
  margin-top: 80px;
  background-color:#FFFFFF;
  padding: 20px;
}

form {
  width: 200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  text-align: center;
}

input {
  width: 250px;
  margin: 5px;
}