body {
  background-image: url('./../images/menu-background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  position: relative;
}

.menu {
  height: 500px;
  width: 550px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 700px;
  padding: 40px;
}

.board {
  height: 130px;
  padding: 20px;
}

.board:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

article  {
  font-size: 20px;
}

audio {
  margin-left: 420px;
  height: 25px;
}