body {
 background-image: url('../images/spelling-game-background.jpg');
 background-size: cover; 
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

img {
  height: 90px;
}

.help {
  border: solid 1px black;
  height: 55px;
  width: 55px;
  float: right;
  margin-right: 20px;
  background-color: #F0B442;
}

.help:hover {
  cursor: pointer;
}

.question-mark {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin-top: 3px;
}

h1 {
  text-align: center;
}

#player > img {
 margin-left: 250px;
 border: solid 3px black;
 width: 80px;
 height: 80px;
 padding: 15px;
 margin-left: 200px;
 margin: 0 auto;
 float: right;
}

#player:hover {
  cursor: pointer;
}

input {
width: 500px;
height: 40px;
margin-left: 450px;
margin-top: 250px;
font-size: 40px;
}
