<footer>
 <div class="wrapper">
        <div class="row">
          <div class="column">
            <div class="first-widget">
             <h2 class="footer-heading">Astroecstatic</h3>
            <p class="footer-p">Subscribe to recieve weekly updates</p>
            <input type="text" class="subscribe-input" placeholder="Enter your email here..">
            <input type="submit" value="Subscribe me!" class="submit-subscription-button">
            </div>
          </div>
          <div class="column">
            <div class="second-widget">
            <nav class="footer-nav">
            <h3 class="footer-heading">Explore my site</h3>
            <a href="" class="nav-a">Readings</a>
            <a href="" class="nav-a">About me</a>
            <a href="" class="nav-a">Blog</a>
            <a href="" class="nav-a">Contact</a>
            </nav>
            <a href="" class="nav-a">Home</a>
            </div>
          </div>
            <div class="column">
            <div class="third-widget">
            <nav class="footer-nav">
            <h3 class="footer-heading">My Services</h3>
            <a href="" class="nav-a">Natal chart reading</a>
            <a href="" class="nav-a">Synastry reading</a>
            <a href="" class="nav-a">Karmic readings</a>
            <a href="" class="nav-a">Prognostic readings</a>
            </nav>
            </div>
          </div>
        </div>
      </div>
      <p class="copyright">All rights reserved</p>
</footer>