* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

#trash {
    height: 40x;
    width: 40px;
    vertical-align: middle;
    float: right;
}

.header {
    background-color: #4696E5;
    height: 300px;
}

form {
    margin: 0 auto;
    width: 350px;
}

h2, p {
    color: white;
    text-align: center;
}

#input {
    width:500px;
    height: 25px;
    border-radius: 5px;
    margin: 15px;
}

button {
    color: white;
    height: 50px;
    width: 80px;
    background-color: #4696E5;
    border: solid;
    margin-left: 430px;
    border-radius: 5px;
}

h1 {
    padding: 15px;
}

ol {
    margin-left: 50px;
}

li {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height:50px;
    width: 600px;
    padding: 10px;
    text-align: center;
}
