<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Astroecstatic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  {% include header.html %}
  <section class="first-section">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>
  <section class="second-seciton">
    <br>
    <br>
    <br>
    <br>
    <h1>My Services</h1>
    <div class="image-container">
      <article>
      <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test-image" class="test-img">
      <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
      <button class="read-more-btn">
        Read More
      </button>
    </article>
    <article>
        <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test-image" class="test-img">
        <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
        <button class="read-more-btn">
            Read More
          </button>
      </article>
      <article>
          <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test-image" class="test-img">
          <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
          <button class="read-more-btn">
              Read More
            </button>
        </article>
    </div>
  </section>
  <section class="zodiac-info">
    <div class="blog-entry-container">
      <input  type="search" class="search-box fa fa-search" placeholder="  &#xf002 search">

      <div class="sign-archetypes">
        <div class="sign-heading-container">
            <h3 class="signs-heading">Signs</h3>
            <h3 class="signs-heading">Archetypes</h3>
          </div>
          <div class="sign-icons-column">
           <img src="../assets/images/astro-signs/aquarius-sign.png" alt="aquarius astrological sign" class="sign-icon">
           <p class="sign-paragraph">Aquarius</p>
           <img src="../assets/images/astro-signs/leo-sign.png" alt="leo astrological sign" class="sign-icon">
           <p class="sign-paragraph">Leo</p>
           <img src="../assets/images/astro-signs/cancer-sign.jpg" alt="cancer astrological sign" class="sign-icon">
           <p class="sign-paragraph">Cancer</p>
           <img src="../assets/images/astro-signs/capricorn-sign.png" alt="capricorn astrological sign" class="sign-icon">
           <p class="sign-paragraph">Capricorn</p>
           <img src="../assets/images/astro-signs/sagitarius-sign.webp" alt="sagitarius astrological sign" class="sign-icon">
           <p class="sign-paragraph">Sagitarius</p>
           <img src="../assets/images/astro-signs/virgo-sign.png" alt="virgo astrological sign" class="sign-icon">
           <p class="sign-paragraph">Virgo</p>
          </div>
          <div class="sign-icons-column">
              <img src="../assets/images/astro-signs/gemini-sign.jpg" alt="gemini astrological sign" class="sign-icon">
              <p class="sign-paragraph">Gemini</p>
              <img src="../assets/images/astro-signs/libra.jpg" alt="libra astrological sign" class="sign-icon">
              <p class="sign-paragraph">Libra</p>
              <img src="../assets/images/astro-signs/aries-sign.jpg" alt="aries astrological sign" class="sign-icon">
              <p class="sign-paragraph">Aries</p>
              <img src="../assets/images/astro-signs/scorpio-sign.jpg" alt="scorpio astrological sign" class="sign-icon">
              <p class="sign-paragraph">Scorpio</p>
              <img src="../assets/images/astro-signs/taurus-sign.png" alt="taurus astrological sign" class="sign-icon">
              <p class="sign-paragraph">Taurus</p>
              <img src="../assets/images/astro-signs/pisces-sign.png" alt="pisces astrological sign" class="sign-icon">
              <p class="sign-paragraph">Pisces</p>
             </div>
        </div>
        </div>
      <div class="blog-entry">
        <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test image" class="test-img">
        <div class="blog-detail">
          <label>Heading 1</label>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <small>Date: 02-04-2019</small>
        </div>
      </div>
      <div class="blog-entry">
        <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test image" class="test-img">
        <div class="blog-detail">
          <label>Heading 1</label>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <small>Date: 02-04-2019</small>
        </div>
      </div>
      <div class="blog-entry">
        <img src="https://i.stack.imgur.com/o6bz4.gif" alt="test image" class="test-img">
        <div class="blog-detail">
          <label>Heading 1</label>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <small>Date: 02-04-2019</small>
        </div>
      </div>
    </div>
    <button>Go to Blog</button>
  </section>
<br>
<br>
 {% include footer.html %}
</body>
</html>