<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Astroecstatic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  {% include header.html %}
  <section class="first-section">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>
  <section class="second-seciton">
    <br>
    <br>
    <br>
    <br>
    <h1>My Services</h1>
    <div class="image-container">
      <article>
      <img src="/assets/images/test-image.jpg" alt="test-image" class="test-img">
      <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
      <button class="read-more-btn">
        Read More
      </button>
    </article>
    <article>
        <img src="/assets/images/test-image.jpg" alt="test-image" class="test-img">
        <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
        <button class="read-more-btn">
            Read More
          </button>
      </article>
      <article>
          <img src="/assets/images/test-image.jpg" alt="test-image" class="test-img">
          <p class="paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
          <button class="read-more-btn">
              Read More
            </button>
        </article>
    </div>
  </section>
  <input  type="search" class="search-box fa fa-search" placeholder="&#xf002 search"> 

  <section class="zodiac-info">
    <div class="blog-entry-container">
    <div class="blog-entry">
      <img src="../assets/images/test-image.jpg" alt="test image" class="test-img">
      <p class="zodiac-paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
    </div>
    <div class="blog-entry">
        <img src="../assets/images/test-image.jpg" alt="test image" class="test-img">
        <p class="zodiac-paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
      </div>
      <div class="blog-entry">
          <img src="../assets/images/test-image.jpg" alt="test image" class="test-img">
          <p class="zodiac-paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
        </div>
      </div>
  </section>
<br>
<br>
 {% include footer.html %}
</body>
</html>