<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Astroecstatic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A blog about astrology">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  {% include header.html %}
  <main>
      <div class="reading-container">
          <h1 class="post-title"></h1>{% for post in site.posts limit: 5 %}</h1> 
           <a href="">{{post.title}}</a>
           <br>
           <span class="post-date">{{post.date | date_to_long_string}}</span>
           <article>
              <img src="{{site.baseurl}}/assets/images/{{post.image}}"> 
               {{ post.excerpt  }}
               
              <button class="read-more-btn">Read more</button>
           </article>
         </ul>
         {% endfor %}
        </div>
    {% include footer.html %}
      </main>
    
</body>
</html>