.board {
    height: 500px;
    width: 700px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    border: solid 1px;
}

.player-one {
    background-color: #F9EFF2;
    height: 100%;
    width: 850px;
}

.player-two {
    background-color: #FFFFFF;
    height: 100%;
    width: 850px;
}

.player-one-counter, .player-two-counter {
 height: 80px;
 width: 80px;
 background-color: orangered;
 margin-top: 350px;
 margin-left: 150px;
}

p {
    text-align: center;
}