<header>
  <nav>
      <a href="" class="nav-a">Home</a>
      <a href="" class="nav-a">About me</a>
      <a href="" class="nav-a">Readings</a>
      <a href="" class="nav-a">Blog</a>
      <a href="" class="nav-a">Contact</a>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<section>
<h1>{{site.title}}</h1>
<p>Bringing you closer to astrology</p>
<div class="heading">
  <p class="heading-text">
   Hi, I'm Margarita. I'm an commited astrolger, and I dig deep within the mysteries of the space, and try to translate the language of the stars to the humanity. I do all kinds of astrological readings and consultations with a genuine effort to help everyone, who wishes to develop and understand his Higher Self. 
  </p>
</div>
<button>BOOK A READING</button>
</section>
</header>
<hr>