button:hover {
    cursor: pointer;
}

.jumbotron {
    background: url('./../images/Header.jpg') no-repeat;
    background-size: cover; 
    background-position: center;
    height: 350px;
}

table, tr, td {
    border:  solid 1px;
    width: 100%;
    font-size: 20px;
}

th, h3{
    text-align: center;
    padding: 25px;
}

table {
    margin-bottom: 50px;
}

.edit-form {
   display: flex;
   flex-direction: column;
   width: 250px;
   margin-left: 450px;
   margin-bottom: 200px;
   display: none;
}

.btn-info {
    margin-left: 5px;
}

.show {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 450px;
    margin-bottom: 200px;
}